@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00eab4;
  --color-primary-var: #009775;
  --color-secondary: #ff9f00;
  /* new color text-secondary */
  --color-text-secondary: #bfc1de;
  /* new color whit */
  --color-white: #fafafa;
  --color-background: #1a1b29;
  /* --color-background: #111827; */
  /* --color-background: #030712; */
  /* --color-background: #161919; */
  --color-surface: #1f1f32;
  /* new color hihglight */
  --color-highlight: #36385b;
  /* --color-surface: #161919; */
  --color-surface-secondary: #322922;
  --color-grey-light: #808886;
  --color-grey-mlight: #5b6361;
  --color-grey-mdark: #383d3c;
  --color-grey-dark: #232827;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

body {
  background: var(--color-background);
  color: var(--color-white);
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 0px;
}

h3 {
  font-size: 1.64rem;
  line-height: 1.43;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 1.32rem;
  line-height: 1.43;
  letter-spacing: 0px;
}

label {
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

input {
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.loader {
  border: 2px solid;
  border-color: transparent var(--color-primary);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-block;
  position: relative;

  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
