@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #12ff80;
  --color-secondary: #ff0f68;
  --color-white: #e2e8f0;
  --color-white_10: #e2e8f01a;
  --color-white_5: #e2e8f00d;
  --color-background: #121312;
  --color-background2: #1b1b1b;
  --color-grey-dark: #302929;
  --color-grey-light: #9ca3af;
}

body {
  background: var(--color-background);
  color: var(--color-white);
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 0px;
}

h3 {
  font-size: 1.64rem;
  line-height: 1.43;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 1.32rem;
  line-height: 1.43;
  letter-spacing: 0px;
}

label {
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

input {
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
